DATABASE_CONFIG={"type":"service_account","project_id":"yourproject","private_key_id":"12jfdasfnsdjkfhj123jkrlklfsd","private_key":"-----BEGIN PRIVATE KEY-----\nASJLDNjklnfvgdjk;fncSDK;asjlF;JKj:cvnsdjkvnsjklvnlk:sdfnvljkdsml:kfjljsdfk:LMNFKLSDANFLsdnflksdnflksdnmflksdngLL;sklsgnjlksdnvjklsJnsdJVSDJKVNSDJKVNSKDJVNSJKDVNJKDVJKLSDNJKVBSADBADFsvdfdvsdvsdfvrfVFDSFSDfsGVBsVSdVSDvSsBGSFBVsfbaseiJVIPOSKVCIOPSJ0IPAVKLCMV\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk-zdxsi@YOURPROJECTNAME.iam.gserviceaccount.com","client_id":"345673082374089232234","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-zdxsi%asdasdasdsad.iam.gserviceaccount.com","universe_domain":"googleapis.com"}
SMTP_EMAIL="anymail@gmail.com"
SMTP_PASSWORD="any pass for smtp"
MAIL_RESIVER="anymail@gmail.com"